@import '../App.module.css';

.pages {
    position: absolute;
    border-radius: 1rem;
    width: 20rem;
    height: fit-content;
    max-width: 30rem;
    max-height: auto;
    margin-right: calc(50% - 10rem);
    background-color: var(--offDarkModeBackground);
    color: var(--darkModeText);
    top: 0;
    right: 0;
    margin-top: 5rem;
    z-index: 1000;
    border: 0.1rem solid var(--focusDarkMode);

    & .response {
        color: var(--darkModeText);
    }

    .close {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 1.5rem;
        padding: 1rem;
        cursor: pointer;
    }

    & form {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}