.pages {
    position: absolute;
    border-radius: 1rem;
    width: auto;
    height: auto;
    background-color: var(--offDarkModeBackground);
    color: var(--darkModeText);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    border: 0.1rem solid var(--focusDarkMode);
    overflow-y: auto;

    & .response {
        color: var(--darkModeText);
    }

    .close {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 1.5rem;
        padding: 1rem;
        cursor: pointer;
    }

    & form {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}