@import '../App.module.css';

.create-products {
    display: flex;
    flex-direction: column;
    width: 23rem;
    font-size: 11pt;
    background-color: var(--offDarkModeBackground);
    border-radius: .03rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: scroll;

    .close {
        position: absolute; 
        top: 0;
        right: 0;
        font-size: 1.5rem;
        padding: 1rem;
        cursor: pointer;
    }
}