@import '../../styles/App.module.css';

.products-details {
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    flex-direction: row;
    grid-template-rows: auto;
    font-size: 11pt;
    background-color: var(--darkModeBackground);
    color: var(--darkModeText);
    padding: 1rem;

    & img {
        width: auto;
        height: 33rem;
        max-width: fit-content;
        border-radius: 1rem;
        margin: 1rem;
        cursor: pointer;
    }

    & button {
        background-color: var(--darkModeBody);
    }

    & .details {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 3rem;
        padding: 2rem;
        border-radius: 1rem;
        background-color: var(--offDarkModeBackground);
        color: var(--darkModeText);
    }
}   