@import "../../styles/App.module.css";

.cards {
    justify-items: center;
    font-size: 11pt;
    width: auto;
    height: auto;
    max-height: auto;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    border-color: var(--darkModeColor);
    background-color: var(--offDarkModeBackground);

    & img {
        border-radius: 1rem;
        max-height: 18rem;
        min-width: auto;
        max-width: 16rem;
        width: auto;
        cursor: pointer;
        margin-top: 0.5rem;
    }   
}

.side-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    font-size: 11pt;
    border-color: var(--darkModeColor);
    background-color: var(--offDarkModeBackground);
}