@import "../../styles/App.module.css";

& input {
    color: var(--darkModeText);
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    background-color: var(--darkModeBody);
    transition: 3.8rem 0.5s ease-in;
    width: 13rem;

    &:focus {
        outline: none;
        border: 0.2em solid var(--focusDarkMode);
    }
}

& button {
    background-color: var(--darkModeBackground);
    color: var(--darkModeText);
    font-weight: 400;
    width: 8rem;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: var(--darkModeBackground);

    &:hover {
        background-color: var(--darkModeTextHover);
    }
}

& textarea {
    color: var(--darkModeText);
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    background-color: var(--darkModeBody);
    transition: 3.8rem 0.5s ease-in;
    width: 13rem;
    max-width: 100vh;

    &:focus {
        outline: none;
        border: 0.2em solid var(--focusDarkMode);
    }
}