* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --darkModeBackground: #080808;
    --darkModeBody: #0C0C0F;
    --darkModeText: #e9e6e6;
    --darkModeTextHover: #ccccccd2;
    --darkModeBackgroundContrast: #e0e0db;
    --darkModeTextContrast: #183032;
    --lightModeBackground: #ffffff;
    --lightModeText: #121213;
    --borderDarkModeColor: #686666;
    --offDarkModeBackground: #2b2a2a;
    --errorColor: #ff3535ef;
    --darkModeCard: #181717;
    --focusDarkMode: #242222;
    --focusLightMode: #c5c3c3;
    --scrollbarColor: #46466b;
    --scrollbarColorHover: #4d4d80;
}

.body {
    background-color: var(--darkModeBackground);
    height: 100dvh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 11pt
}   
